@page "/"
@inherits IndexModel

    <div class="row mt-5">
        <div class="col">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <p class="text-center">
                <h3>No entries.</h3>
                <small>Click "Add Feed" to add feed(s).</small>
            </p>
        </div>
    </div>
