<div ref="HtmlContentDiv"></div>

@functions{

    [Parameter] string Content { get; set; }

    private ElementRef HtmlContentDiv;

    protected override Task OnAfterRenderAsync()
    {
        if (!string.IsNullOrEmpty(Content))
        {
            return JSRuntime.Current.InvokeAsync<bool>("blazorRssReaderFunctions.RawHtml", HtmlContentDiv, Content);
        }
        return Task.FromResult<bool>(false);
    }
}